body {
        background-image: url(../Assets/Img/Estructura/Amuletos_fondo_opaci-50_.webp);
        background-repeat: repeat;
        background-size: 25%;
}

#separador {
    height: 45px;
}

#Acordion {
    font-size: 1.4rem;
    background-color: $secondaryColorFull;
}

#flush-collapseOne {
    background-image: url(../Assets/Img/Estructura/Amuletos_fondo_opaci-50_.webp);
    background-repeat: repeat;
    background-size: 25%;
}

.links {
    text-decoration: none;
    color: black;
}

#link_hover:hover{
    color: $mainColorDark;
}

.Link_product{
    font-size: 2rem;
}

.carousel-control-prev,
.carousel-control-next, 
.carousel-indicators  {
    display: none;
}

@media screen and (max-width: 768px) {
    .Link_product{
        font-size: 1.7rem;
    }
}