body {
    main {
        background-image: url(../Assets/Img/Estructura/Amuletos_fondo_opaci-50%.jpeg);
        background-repeat: repeat;
        background-size: 25%;
        font-family: 'EB Garamond', serif;
    }
}

#separador {
    height: 45px;
}

#Acordion {
    font-size: 1.4rem;
    background-color: rgb(66, 192, 161) ;
}

#flush-collapseOne {
    background-image: url(../Assets/Img/Estructura/Amuletos_fondo_opaci-50%.jpeg);
    background-repeat: repeat;
    background-size: 25%;
}

.links {
    text-decoration: none;
    color: black;
}

.carousel-control-prev,
.carousel-control-next, 
.carousel-indicators  {
    display: none;
}
