#nav {
    background-color: $mainColorOpacity;
}

#Nav_link_hover:hover {
    color: $secondaryColorLight;
}

#dropdown_link_hover:hover {
    background-color: $mainColorOpacity ;
}

#color_dropdown {
    background-color: $secondaryColorOpacity;
}