#nav {
    background-color: $mainColorOpacity;
}

#Nav_link_hover:hover {
    border: 2px solid $secondaryColorLight;
    border-radius: 8px;
    background-color: $secondaryColorFull;
}

#dropdown_link_hover:hover {
    background-color: $mainColorOpacity;
    color: $mainColorDark;
    border: 2px solid $mainColorDark;
    border-radius: 8px;
}

#color_dropdown {
    background-color: $secondaryColorOpacity;
}
