#nav {
    background: $radialGradient;
}

#Nav_link_hover:hover {
    border: 2px solid $secondaryColorLight;
    border-radius: 8px;
    background-color: $secondaryColorFull;
}

#Nav_link_hover{
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
}

#dropdown_link_hover:hover {
    background-color: $mainColorOpacity;
    border: 2px solid $mainColorDark;
    border-radius: 8px;
}

#dropdown_link_hover {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
}

#color_dropdown {
    background-color: $secondaryColorOpacity;
}
