$mainColorOpacity: rgba(178, 132, 215, 0.949);
$mainColorFull: rgba(178, 132, 215);
$mainColorLight: rgb(211, 173, 241);
$mainColorDark: rgb(121, 48, 180);
$secondaryColorOpacity: rgba(66, 192, 160, 0.926);
$secondaryColorFull: rgba(66, 192, 160);
$secondaryColorLight: rgb(141, 234, 214);
$secondaryColorDark: rgb(0, 134, 101);
