$mainColorOpacity: rgba(178, 132, 215, 0.949);
$mainColorFull: rgba(178, 132, 215);
$secondaryColorOpacity: rgba(66, 192, 160, 0.926);
$secondaryColorFull: rgba(66, 192, 160);
$secondaryColorLight: rgb(218, 189, 242);
